div.container section.filters{
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
section.filters button{
    font-size: 18px;
    text-align: center;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 11px 30px;
    transition: opacity 0.3s ease;
}
div.container section.filters button:hover{
    opacity: 90%;
}
div.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #dddddd;
    text-transform: capitalize;
    color: black;
    display: inline-block;
}
div.ameneties{
    height: 100%;
    width: 25%;
    text-transform: capitalize;
    color: black;
    text-align: s;
    display: inline-block;
}
div.locations h3,div.ameneties h3{
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 20%;
}
div.locations h4,div.ameneties h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    margin-left: 20%;
}
.popover{
    width: 10.2%;
    background-color: #fafafa;
    list-style-type: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 17.8%;
}
.locations:hover .popover {
    display: block;
}
.ameneties:hover .popover {
    display: block;
  }
.popover li{
    margin-left: 14px;
}
.popover h2 {
    font-size: 20px;
    margin-bottom: 0;
}
