.places h1{
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}
.places article{
    
    width: 350px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 350px;
}
.places article h2{
    font-size: 30px;
    text-align: center;
}
article.last{
    left: 25%;
    position: relative;
}
.price_by_night p {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    position: absolute;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
    line-height: 60px;
    top: -8%;
    left: 75%;
}
.information{
    height: 80px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    text-align: center;
    justify-content: center;
    display: flex;
}  
.max_guest,.number_rooms,.number_bathrooms{
    width: 100px;
    display: inline-block;
    padding: 8px 0px;
    text-align: center;
}
.max_guest p,.number_rooms p,.number_bathrooms p{
    margin-top: 0px;
}
.max_guest div{
    background-image: url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_group.png');
    height: 40px;
    background-repeat: no-repeat;
    background-position:  center;
}
.number_rooms div{
    background-image: url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bed.png');
    height: 40px;
    background-repeat: no-repeat;
    background-position:  center;
}
.number_bathrooms div{
    background-image: url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bath.png');
    height: 40px;
    background-repeat: no-repeat;
    background-position:  center;
}
.places article .user, .places article .description {
  align-self: flex-start;
  text-align: start;
  padding: 5px 0px;
}
.description p{
    display: contents;
}
